<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <%= simple_format(@ticket.description) %>
  <br />
  <small>Created by <%= @ticket.user.username %></small>
</div>
<div class="form-actions">
  <%= link_to 'Back', project_path(@project), :class => 'btn btn-primary' %>
</div>